################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/codestructure/nullref/.vscode
/codestructure/nullref/.vs/nullref/v16/TestStore/0
/codestructure/nullref/.vs/nullref/v16
